* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #feb221;
  background: #1f2635;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  cursor: pointer;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  background: #fff;
  transform-style: preserve-3d;
  width: 200px;
  height: 150px;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
  transition: 0.2s;
}

.card:hover {
  --translate-y: -2px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

.card.flip {
  --rotate-y: 180deg;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  background: #feb221;
}

.card .front {
  left: 0;
}

.card .front,
.card .back {
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg);
}

.flashcard-options {
  margin-top: 1rem;
}

.flashcard-option {
  font-size: 0.75rem;
  color: #555;
  margin-top: 0.25rem;
}
